body {
  background-color:  #ffb39c;
}

/* BUTTONS */
button {
  background-color: #fbeee0;
  border: 2px solid #422800;
  border-radius: 20px;
  box-shadow: #c50e88 4px 4px 0 0;
  color: #b81135;
  display: inline-block;
  font-size: 15px;
  padding: 5px;
  padding-right: 10px;
  padding-left: 10pxl;
  line-height: 50px;
  text-align: center;
  text-decoration: none;

}

.sale-button {
  display:flex;
  justify-content: center;
  margin-top: 40px;
}


.home-button {
  display:flex;
  justify-content: center;
  margin-top: 30px;
}

/* BUTTON END */


/* IMAGES  */

.salmon-pic {
  transform: scaleX(-1);
  max-width: 19%;
  float: left
}

.salmon-pic2 {
  transform: scaleX(1);
  max-width: 19%;
  max-width: 19%;
  float: right
}

.fish-cookie {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 30%;
}

.fish-shirt {
  height: 300px;
}

.fish-merch {
  display:flex;
  justify-content: center;
  margin-top: 30px;
  gap: 50px;
}

.chinook-fish {
  width: 40%;
}

.family-picture {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 30%;

}


/* IMAGES END  */

h1 {
  font-size: 40px;
  color: Black;
  margin-bottom: 20px;
  margin-top: 20px;
  text-align: center;
  font-family: 'Montserrat', sans-serif;
}

h2, p {
  text-align: center;
  margin-left: 40px;
  margin-right: 40px;
  margin-bottom: 20px;
  margin-top: 20px;

}

p {
  font-family: 'Inria Serif', serif;
  color: black;
}


h3 {
  font-size: 30px;
  color: rgb(99, 0, 114);
  margin-bottom: 20px;
  margin-top: 25px;
  text-align: center;
  font-family: 'Inria Serif', serif

}

th {
  font-weight:900;
}

td {
  text-align: center;
}

footer {
  font-size: 20px;
  padding-top: 15px;
  text-align: right;
  padding-right: 10px;
  height: 100px;
  margin-top: 30px;
  font-family: 'Inria Serif', serif

}


/* TABLES STYLE PAGE */

table * {
  font-family: 'Archivo', sans-serif;
  color: rgb(114, 0, 84);
  background-color: white;
  border: 1px double #b6035f;
  padding: 8px;
 
}

.data-chart {
  display:flex;
  justify-content: center;
  margin-top: 40px;
  margin-top: 200px;
}


