body {
  background-color:  #ffb39c;
}

h1 {
  font-size: 40px;
  color: black;
  margin-bottom: 20px;
  margin-top: 20px;
  text-align: center;
  font-family: 'Courier New', Courier, monospace;
}

h2, ul {
  text-align: center;
  margin-left: 40px;
  margin-right: 40px;
  margin-bottom: 20px;
  font-family: 'Courier New', Courier, monospace;

}

rticle {
  border: 5px double #020005;
  background-color: #75abe9;
  padding: 30px;
  margin-top: 30px;
}

article h2 {
  font-family: 'Poppins', sans-serif;
  font-size: 1.75em;
  padding-bottom: 10px;
  text-decoration: underline;
}

ul {
  font-size: 1.75em;
  font-family: 'Archivo', sans-serif;
  list-style-type: "🐾   ";
  list-style-position: inside;
  margin-bottom: 15px;
}

li {
  font-family: 'Archivo', sans-serif;
  font-size: .75em;
  margin-top: 15px;

}

img {
  margin-bottom: 30px;
}

table * {
  font-family: 'Archivo', sans-serif;
  background-color: white;
  border: 1px double #020005;
  padding: 8px;
}

th {
  font-weight:900;
}

td {
  text-align: center;
}

footer {
  font-size: 20px;
  padding-top: 15px;
  text-align: right;
  padding-right: 10px;
  height: 100px;
  margin-top: 30px;
  font-family: 'Courier New', Courier, monospace;

}

