body {
  background-color:  #ffb39c;
  margin-left: auto;
  margin-right: auto;

}

/* BUTTONS */
button {
  background-color: #fbeee0;
  border: 2px solid #422800;
  border-radius: 20px;
  box-shadow: #c50e88 4px 4px 0 0;
  color: #b81135;
  display: inline-block;
  font-size: 15px;
  padding: 5px;
  padding-right: 10px;
  padding-left: 10pxl;
  line-height: 50px;
  text-align: center;
  text-decoration: none;

}

.sale-button {
  display:flex;
  justify-content: center;
  margin-top: 40px;
}


.home-button {
  display:flex;
  justify-content: center;
  margin-top: 30px;
}

/* END OF BUTTON */


/* IMAGES  */

.salmon-pic {
  transform: scaleX(-1);
  max-width: 18%;
  float: left
}

.salmon-pic2 {
  transform: scaleX(1);
  max-width: 18%;
  float: right
}

.fish-cookie {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 30%;
  border: black solid 2px;
}

.fish-shirt {
  height: 300px;
  border: black solid 2px;

}

.fish-merch {
  display:flex;
  justify-content: center;
  margin-top: 30px;
  gap: 50px;
  
}

.cookie-cutter, .fish-animated {
  border: black solid 2px;

}


.chinook-fish {
  width: 21%;
  border: black solid 2px;

}

.family-picture {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 30%;
  border: black solid 2px;


}


/* END OF IMAGES  */


/* TEXT TITLES PARAGRAPHS */

h1 {
  font-size: 40px;
  color: rgb(255, 238, 0);
  font-family: 'Crimson Text', serif;
  margin-bottom: 20px;
  margin-top: 20px;
  text-align: center;
}

h2, p {
  text-align: center;
  margin-left: 40px;
  margin-right: 40px;
  margin-bottom: 20px;
  margin-top: 20px;
  color: rgb(27, 43, 219);
  font-family: 'Inria Serif', serif;

}



h3 {
  font-size: 30px;
  margin-bottom: 20px;
  margin-top: 25px;
  text-align: center;
  color: rgb(27, 43, 219);
  font-family: 'Inria Serif', serif;

}

/* END OF TEXT TITLES PARAGRAPHS */


/* FORMS AND EVENT LISTENER */

form {
  background-color: #d2becb;
  padding: 16px 32px;
  margin: 4px;
  text-align: center;
  box-sizing: border-box;
  width: 45%;
  border: black solid 2px;
  border-radius: 10px;
  font-family: 'Archivo', sans-serif; 
  color: rgb(114, 0, 84);
}

#form-box {
  display:flex;
  justify-content: center; 

}


input {
  display: block;
  margin-bottom: 25px;
  margin: 10px auto;
  

}

select {
  display: block;
  margin-bottom: 25px;
}

legend {
  padding:5px;
}
/* END OF FORMS AND EVENT LISTENER */


/* TABLES STYLE PAGE */

table * {
  font-family: 'Archivo', sans-serif; 
  border: 2px double rgb(114, 0, 84);
  color: rgb(114, 0, 84);
  background-color: white;

  padding: 8px;
 
}

.data-chart {
  display:flex;
  justify-content: center;
  margin-top: 40px;
  margin-top: 200px;
}

td {
  text-align: center;
}

/* END OF TABLES STYLE PAGE */

footer {
  font-size: 20px;
  padding-top: 15px;
  text-align: right;
  padding-right: 10px;
  height: 100px;
  margin-top: 30px;
  font-family: 'Inria Serif', serif;
  color:  rgb(27, 43, 219);

}


